/*main layout*/
* {
  font-family: 'open sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  text-align: left;
  font-size: 14px;
}

#map {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

.left-panel {
  height: 550px;
  width: 220px;
  position: absolute;
  margin: 10px 10px;
  background-color: rgba(255, 255, 255, .9);
  padding: 0 15px;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  list-style: none;
}

.left-panel-bottom {
  position: absolute;
  display: flex;
  bottom: 20px;
}

.panel-btn {
  min-height: 20px;
  background-color: #3887be;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  font-size: 14px;
}

.panel-btn:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.panel-btn:focus, .panel-btn:hover {
  text-decoration: none;
}

.panel-btn {
  display: inline-block;
  font-weight: 400;
  width: 45%;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 0.8rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 5px;
}

#calculated {
  white-space: pre-line;
}

#height {
  width: 40px;
}

#toggle {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
  position: absolute;
  top: 5px;
  right: 50px;
  cursor: pointer;
  width: initial;
}


#toggle:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
  text-decoration: none;
  border-radius: .2rem;
}


p, #polygon, #line {
  font-size: 14px;
  line-height: 1.2;
  margin: 5px 0;
}

#polygon, #line {
  font-size: 13px;
  color: #777;
}

p {
  margin: 0;
  text-align: left;
}

#calculated {
  height: 100px;
  font-size: 0.95em;
}

h3 {
  font-size: 20px;
  margin: 20px 0 0;
}

span.head {
  font-weight: bold;
  line-height: 1.5;
  font-size: 15px;
}

span.note {
  top:5px;
  font-style: italic;
  font-size: 0.9em;
  color: #959595;
}

#warning {
  font-style: italic;
  font-size: 0.9em;
}
